<h1>Connectez-vous</h1>

{% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

<form method="post">
  {% csrf_token %}

  <label>Nom d'utilisateur</label>
  <input type="text" name="username" required>

  <label>Mot de passe</label>
  <input type="password" name="password" required>

  <button type="submit">Se connecter</button>
</form>

<!-- Nous passons un argument à la balise url : 'signup'
C'est comme passer des arguments à une fonction Python, 
mais dans les balises de gabarits, 
et nous n'avons pas besoin de saisir les parenthèses.-->
<p>Inscrivez-vous maintenant</p>
<p><a href="{% url 'signup' %}">S'inscrire</a></p>
